@import 'styles/variables.scss';

.simple-tab-container {
  position: absolute;
  top: 96px;
  left: 0;
  width: 100%;
  height: calc(100% - 96px);
  .tab-header {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    border-bottom: 1px solid $nd08;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .tab-item {
      padding: 16px 24px;
    }
    .tab-indicator {
      position: absolute;
      bottom: 0;
      min-width: 40px;
      height: 2px;
      background-color: $b100;
    }
  }
}