@import 'styles/variables.scss';

.toast-manager {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 64px;
  .toast-item {
    padding: 10px 20px;
    font-size: 12px;
    margin: 4px;
    background-color: $nd08;
    color: $nd60;
    transition: all 0.3s;
    border-radius: 24px;
    &.hidden {
      opacity: 0;
    }
    &.unmount {
      display: none;
    }
  }
}