.App {
  .main-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    min-height: 900px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    & > .left-side {
      min-width: 280px;
      text-align: center;
      .title {
        font-size: 64px;
        letter-spacing: -1px;
        font-weight: 600;
        color: $nd80;
      }
      .author {
        color: $nd60;
        margin-top: 4px;
        margin-bottom: 48px;
      }
    }
  }
  
  .frame-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 431px;
    height: 865px;
    margin: 0 80px;
    .img-frame {
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }
}

@media (max-width: 600px) {
  .App {
    .main-container {
      height: 100%;
      & > .left-side {
        display: none;
      }
    }
    .frame-container {
      top: -80px;
      width: 100%;
      min-width: inherit;
      height: 100%;
      margin: 0;
      .img-frame {
        display: none;
      }
    }
  }
}
