$nd100: rgba(0,0,0,1);
$nd90: rgba(0,0,0,0.9);
$nd80: rgba(0,0,0,0.8);
$nd70: rgba(0,0,0,0.7);
$nd60: rgba(0,0,0,0.6);
$nd50: rgba(0,0,0,0.5);
$nd40: rgba(0,0,0,0.4);
$nd30: rgba(0,0,0,0.3);
$nd20: rgba(0,0,0,0.2);
$nd16: rgba(0,0,0,0.16);
$nd10: rgba(0,0,0,0.1);
$nd08: rgba(0,0,0,0.08);
$nd04: rgba(0,0,0,0.04);
$nd02: rgba(0,0,0,0.02);

$b300: rgb(11, 68, 255);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}