$nsd100: rgba(0,0,0,1);
$nsd90: rgba(0,0,0,0.9);
$nsd80: rgba(0,0,0,0.8);
$nsd70: rgba(0,0,0,0.7);
$nsd60: rgba(0,0,0,0.6);
$nsd50: rgba(0,0,0,0.5);
$nsd40: rgba(0,0,0,0.4);
$nsd30: rgba(0,0,0,0.3);
$nsd20: rgba(0,0,0,0.2);
$nsd16: rgba(0,0,0,0.16);
$nsd10: rgba(0,0,0,0.1);
$nsd08: rgba(0,0,0,0.08);
$nsd04: rgba(0,0,0,0.04);
$nsd02: rgba(0,0,0,0.02);