@import 'styles/variables.scss';

.nav-container {
  position: relative;
  display: flex;
  height: 380px;
  margin-top: 24px;
  flex-direction: column;
  justify-content: center;
  .nav-list {
    height: 380px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  .blank-item {
    height: 190px;
    width: 100%;
  }
  .nav-item {
    position: relative;
    display: flex;
    height: 42px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $nd04;
    }
    .text-wrapper {
      font-size: 22px;
      color: $nd60;
      transition: all 0.3s;
      &:hover {
        color: $nd70;
      }
      &.active {
        font-weight: 800;
        color: $nd80;
      }
      .wip {
        font-size: 14px;
        color: $r100;
      }
    }
  }
  .center-point {
    position: absolute;
    right: 16px;
    top: calc(50% - 4px);
    width: 6px;
    height: 6px;
    background-color: $nd80;
    border-radius: 6px;
    transition: all 0.3s;
    &.hidden {
      opacity: 0;
    }
  }
}