.transition-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 814px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  transform: translateX(50px);
  &.active {
    transition: all 0.8s;
    opacity: 1;
    transform: translateX(0px);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .title {
    position: absolute;
    top: 56px;
    left: 24px;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.5px;
  }
}