@import 'styles/variables.scss';

.transition-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 808px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  transform: translateX(24px);
  &.active {
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.8s, opacity 0.8s;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .header {
    position: absolute;
    top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-left: 8px;
    border-bottom: 1px solid $nd04;
    & > .left-side {
      display: flex;
      align-items: center;
      .btn-back {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4px;
        width: 32px;
        height: 48px;
        transform: rotate(90deg);
      }
      .title {
        padding-left: 16px;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: -0.5px;
      }
    }
    .btn-action {
      font-size: 16px;
      color: $b300;
      padding: 0 16px;
      background-color: transparent;
    }
  }
  
}


@media (max-width: 1250px) {
  .transition-wrapper {
    width: 100%;
    height: 100vh;
  }
}