@import 'styles/variables.scss';

.transition-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 814px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  transform: translateX(32px);
  &.active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.6s;  
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .header {
    position: absolute;
    top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 24px;
    .title {
      font-size: 24px;
      font-weight: 800;
      letter-spacing: -0.5px;
    }
    .btn-action {
      font-size: 16px;
      color: $b300;
    }
  }
  
}